[submodule "src/tpch-dbgen"]
	path = src/tpch-dbgen
	url = https://github.com/electrum/tpch-dbgen.git
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
